.page{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 0.5rem;
    // width: 100%;
}
// app-global-search{
//     width: 100%;
// }
// app-employees-selection{
//     width: 100%;
// }
.main_content{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
app-list-content{
    width: 60%;
}

// app-login{
//     margin-top: 1rem;
//     // height: calc(100vh - 8.9rem);
//     background-color: #202020;
//     width: 40%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 6px;
// }
.router{
    width: 40%;
    margin-top: 1rem;
    // height: calc(100vh - 8.9rem);
    background-color: #202020;
    display: block;
    // justify-content: center;
    // align-items: center;
    border-radius: 6px;
}


////////////////////////////////////////////////////////////////
@media only screen and (max-width: 1300px){
    .router{
        display: none;
    }
    app-list-content{
        width: 100%;
    }
}