<div class="page">
    <app-global-search></app-global-search>
    <!-- <p>main-content works!</p> -->
    <div class="main_content">
        <app-list-content></app-list-content>
        <div class="profile_content">
            <div class="form-box">
                <div class="form-value">
                    <form action="">
                        <h2>Login</h2>
                            <!-- <ion-icon name="mail-outline"></ion-icon> -->
                        <div class="inputs_container">
                            <div class="input_row">
                                <mat-icon fontIcon="mail"></mat-icon>
                                <input class="inputForm" type="text" required>
                            </div>
                            <div class="input_row">
                                <mat-icon fontIcon="vpn_key"></mat-icon>
                                <input class="inputForm" type="password" required>
                            </div>
                        </div>
                        
                            
                            <!-- <label>Email</label> -->
                            
                            <!-- <label>Password</label> -->
                        <!-- <div class="forget">
                            <label><input type="checkbox">Remember Me  <a>Forget Password</a></label>
                          
                        </div> -->
                        <button>Log in</button>
                        <div class="register">
                            <p>Don't have a account <a>Register</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

