.page{
    height: calc(100vh - 61px);
    background-color: #2c2c2c;
    color: #fff;
    display: flex;
    flex-direction: row;
}
// app-main-content{
//     width: 100%;
// }
.router{
    width: 100%;
}