<div class="page">
    <div class="item">
        <h3>Tytuł ogłoszenia</h3>
        <textarea
            [(ngModel)]="managerCompanyOffer.titleForm"
            placeholder="Tytuł..."
            class="textarea-inline-control"  
            cdkTextareaAutosize>
        </textarea>
    </div>
    <div class="item">
        <h3>Wynagrodzenie</h3>
        <div class="salary_row">
            <input [(ngModel)]="managerCompanyOffer.fromSalaryForm" type="number">
            <div class="space"> - </div>
            <input [(ngModel)]="managerCompanyOffer.toSalaryForm" type="number">
            <div class="price">PLN</div>
        </div>
    </div>
    <div class="item">
        <h3>Poziom zaawansowania</h3>
        <select [(ngModel)]="managerCompanyOffer.expForm">
            <option [value]=1>Junior</option>
            <option [value]=2>Mid</option>
            <option [value]=3>Senior</option>
        </select>
    </div>
    <div class="item info_textarea">
        <h3>Informacje</h3>
        <textarea
            [(ngModel)]='managerCompanyOffer.aboutForm'
            (input)="managerCompanyOffer.onTextChange()"
            placeholder="Informacje..."
            class="textarea-inline-control"  
            cdkTextareaAutosize>
        </textarea>
    </div>
    <div class="item">
        <h3>Umiejętności</h3>
        <div class="skills_column">
            <div *ngFor="let inputStack of managerCompanyOffer.stackForm; let i = index" class="inputs_container">
                <input [(ngModel)]="inputStack.name">
            </div>
            <button (click)="managerCompanyOffer.addStack()" class="skills_btn">Dodaj kolejną umiejętność</button>
        </div>
    </div>
    <div class="item">
        <h3>Warto znać</h3>
        <div class="skills_column">
            <div *ngFor="let inputAdditionalStack of managerCompanyOffer.additionalStackForm; let i = index" class="inputs_container">
                <input [(ngModel)]="inputAdditionalStack.name">
            </div>
            <button (click)="managerCompanyOffer.addAdditionalStack()" class="skills_btn">Dodaj kolejną dodatkową umiejętność</button>
        </div>
    </div>
    <div class="item">
        <h3>Obowiązki</h3>
        <div class="skills_column">
            <div *ngFor="let inputResponsibilities of managerCompanyOffer.responsibilitiesForm; let i = index" class="inputs_container">
                <input [(ngModel)]="inputResponsibilities.name">
            </div>
            <button (click)="managerCompanyOffer.addResponsibilitiesForm()" class="skills_btn">Dodaj kolejną dodatkową umiejętność</button>
        </div>
    </div>
</div>