<div class="page">
    <!------------------------------------------------------------------------------------->
    <div *ngIf="titleAdd" (click)="titleAdd = !titleAdd" class="item element_add">
        <div class="left">
            <mat-icon fontIcon="title"></mat-icon>
            Dodaj tytuł oferty
        </div>
        <div class="right">
            <mat-icon fontIcon="navigate_next"></mat-icon>
        </div>
    </div>
    <div (click)="$event.stopPropagation()" *ngIf="!titleAdd" class="item inputs_item">
        <div class="top" (click)="titleAdd = !titleAdd">
            <div class="left">
                <mat-icon fontIcon="title"></mat-icon>
                Dodaj tytuł oferty
            </div>
            <div class="right">
                <mat-icon fontIcon="close"></mat-icon>
            </div>
        </div>
        <textarea
            [(ngModel)]="managerCompanyOffer.titleForm"
            placeholder="Tytuł..."
            class="textarea-inline-control"  
            cdkTextareaAutosize>
        </textarea>
    </div>
    <!------------------------------------------------------------------------------------->
    <div *ngIf="salaryAdd" (click)="salaryAdd = !salaryAdd" class="item element_add">
        <div class="left">
            <mat-icon fontIcon="payments"></mat-icon>
            Dodaj wynagrodzenie
        </div>
        <div class="right">
            <mat-icon fontIcon="navigate_next"></mat-icon>
        </div>
    </div>
    <div (click)="$event.stopPropagation()" *ngIf="!salaryAdd" class="item inputs_item">
        <div class="top" (click)="salaryAdd = !salaryAdd">
            <div class="left">
                <mat-icon fontIcon="payments"></mat-icon>
                Dodaj wynagrodzenie
            </div>
            <div class="right">
                <mat-icon fontIcon="close"></mat-icon>
            </div>
        </div>
        <div class="salary_row">
            <input [(ngModel)]="managerCompanyOffer.fromSalaryForm" type="number">
            <div class="space"> - </div>
            <input [(ngModel)]="managerCompanyOffer.toSalaryForm" type="number">
            <div class="price">PLN</div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------->
    <div *ngIf="advancedAdd" (click)="advancedAdd = !advancedAdd" class="item element_add">
        <div class="left">
            <mat-icon fontIcon="star_half"></mat-icon>
            Ustaw poziom zaawansowania
        </div>
        <div class="right">
            <mat-icon fontIcon="navigate_next"></mat-icon>
        </div>
    </div>
    <div (click)="$event.stopPropagation()" *ngIf="!advancedAdd" class="item inputs_item">
        <div class="top" (click)="advancedAdd = !advancedAdd">
            <div class="left">
                <mat-icon fontIcon="star_half"></mat-icon>
                Ustaw poziom zaawansowania
            </div>
            <div class="right">
                <mat-icon fontIcon="close"></mat-icon>
            </div>
        </div>
        <select aria-placeholder="poziom" [(ngModel)]="managerCompanyOffer.expForm">
            <option [value]="0" disabled selected>Wybierz poziom</option>
            <option [value]=1>Junior</option>
            <option [value]=2>Mid</option>
            <option [value]=3>Senior</option>
        </select>
    </div>
    <!------------------------------------------------------------------------------------->
    <div *ngIf="infoAdd" (click)="infoAdd = !infoAdd" class="item element_add">
        <div class="left">
            <mat-icon fontIcon="description"></mat-icon>
            Dodaj szczegółowe informacje
        </div>
        <div class="right">
            <mat-icon fontIcon="navigate_next"></mat-icon>
        </div>
    </div>
    <div (click)="$event.stopPropagation()" *ngIf="!infoAdd" class="item info_textarea inputs_item">
        <div class="top" (click)="infoAdd = !infoAdd">
            <div class="left">
                <mat-icon fontIcon="description"></mat-icon>
                Dodaj szczegółowe informacje
            </div>
            <div class="right">
                <mat-icon fontIcon="close"></mat-icon>
            </div>
        </div>
        <textarea
            [(ngModel)]='managerCompanyOffer.aboutForm'
            (input)="managerCompanyOffer.onTextChange()"
            placeholder="Informacje..."
            class="textarea-inline-control"  
            cdkTextareaAutosize>
        </textarea>
    </div>
    <!------------------------------------------------------------------------------------->
    <div *ngIf="skillsAdd" (click)="skillsAdd = !skillsAdd" class="item element_add">
        <div class="left">
            <mat-icon fontIcon="school"></mat-icon>
            Dodaj umiejętności
        </div>
        <div class="right">
            <mat-icon fontIcon="navigate_next"></mat-icon>
        </div>
    </div>
    <div *ngIf="!skillsAdd" class="item inputs_item">
        <div class="top" (click)="skillsAdd = !skillsAdd">
            <div class="left">
                <mat-icon fontIcon="school"></mat-icon>
                Dodaj umiejętności
            </div>
            <div class="right">
                <mat-icon fontIcon="close"></mat-icon>
            </div>
        </div>
        <div class="skills_column">
            <div *ngFor="let inputStack of managerCompanyOffer.stackForm; let i = index" class="inputs_container">
                <input [(ngModel)]="inputStack.name">
                <mat-icon (click)="deleteSkill(i)" fontIcon="delete"></mat-icon>
            </div>
            <button (click)="managerCompanyOffer.addStack()" class="skills_btn">Dodaj umiejętność</button>
        </div>
    </div>
    <!------------------------------------------------------------------------------------->
    <div *ngIf="additionalSkillsAdd" (click)="additionalSkillsAdd = !additionalSkillsAdd" class="item element_add">
        <div class="left">
            <mat-icon fontIcon="school"></mat-icon>
            Warto znać
        </div>
        <div class="right">
            <mat-icon fontIcon="navigate_next"></mat-icon>
        </div>
    </div>
    <div *ngIf="!additionalSkillsAdd" class="item inputs_item">
        <div class="top" (click)="additionalSkillsAdd = !additionalSkillsAdd">
            <div class="left">
                <mat-icon fontIcon="school"></mat-icon>
                Warto znać
            </div>
            <div class="right">
                <mat-icon fontIcon="close"></mat-icon>
            </div>
        </div>
        <div class="skills_column">
            <div *ngFor="let inputAdditionalStack of managerCompanyOffer.additionalStackForm; let i = index" class="inputs_container">
                <input [(ngModel)]="inputAdditionalStack.name">
                <mat-icon (click)="deleteAdditionalSkill(i)" fontIcon="delete"></mat-icon>
            </div>
            <button (click)="managerCompanyOffer.addAdditionalStack()" class="skills_btn">Dodaj dodatkową umiejętność</button>
        </div>
    </div>
    <!------------------------------------------------------------------------------------->
    <div *ngIf="responsibilitiesAdd" (click)="responsibilitiesAdd = !responsibilitiesAdd" class="item element_add">
        <div class="left">
            <mat-icon fontIcon="format_list_bulleted"></mat-icon>
            Obowiązki
        </div>
        <div class="right">
            <mat-icon fontIcon="navigate_next"></mat-icon>
        </div>
    </div>
    <div *ngIf="!responsibilitiesAdd" class="item inputs_item">
        <div class="top" (click)="responsibilitiesAdd = !responsibilitiesAdd">
            <div class="left">
                <mat-icon fontIcon="format_list_bulleted"></mat-icon>
                Obowiązki
            </div>
            <div class="right">
                <mat-icon fontIcon="close"></mat-icon>
            </div>
        </div>
        <div class="skills_column">
            <div *ngFor="let inputResponsibilities of managerCompanyOffer.responsibilitiesForm; let i = index" class="inputs_container">
                <input [(ngModel)]="inputResponsibilities.name">
                <mat-icon (click)="deleteResponsibilities(i)" fontIcon="delete"></mat-icon>
            </div>
            <button (click)="managerCompanyOffer.addResponsibilitiesForm()" class="skills_btn">Dodaj dodatkową umiejętność</button>
        </div>
    </div>
    <!------------------------------------------------------------------------------------->
    <div *ngIf="expectationsAdd" (click)="expectationsAdd = !expectationsAdd" class="item element_add">
        <div class="left">
            <mat-icon fontIcon="checklist"></mat-icon>
            Nasze oczekiwania
        </div>
        <div class="right">
            <mat-icon fontIcon="navigate_next"></mat-icon>
        </div>
    </div>
    <div *ngIf="!expectationsAdd" class="item inputs_item">
        <div class="top" (click)="expectationsAdd = !expectationsAdd">
            <div class="left">
                <mat-icon fontIcon="checklist"></mat-icon>
                Nasze oczekiwania
            </div>
            <div class="right">
                <mat-icon fontIcon="close"></mat-icon>
            </div>
        </div>
        <div class="skills_column">
            <div *ngFor="let inputExpectations of managerCompanyOffer.expectationsForm; let i = index" class="inputs_container">
                <input [(ngModel)]="inputExpectations.name">
                <mat-icon (click)="deleteExpectations(i)" fontIcon="delete"></mat-icon>
            </div>
            <button (click)="managerCompanyOffer.addExpectationsForm()" class="skills_btn">Dodaj oczekiwanie</button>
        </div>
    </div>
    <!------------------------------------------------------------------------------------->
</div>