<div class="page">
    <div class="item">
        <h3>Tytuł ogłoszenia</h3>
        <textarea
            [(ngModel)]="managerCompanyOffer.titleForm"
            placeholder="Tytuł..."
            class="textarea-inline-control"  
            cdkTextareaAutosize>
        </textarea>
    </div>
    <div class="item">
        <h3>Wynagrodzenie</h3>
        <div class="salary_row">
            <input [(ngModel)]="managerCompanyOffer.fromSalaryForm" type="number">
            <div class="space"> - </div>
            <input [(ngModel)]="managerCompanyOffer.toSalaryForm" type="number">
            <div class="price">PLN</div>
        </div>
    </div>
    <div class="item">
        <h3>Poziom zaawansowania</h3>
        <select [(ngModel)]="managerCompanyOffer.expForm">
            <option [value]=1>Junior</option>
            <option [value]=2>Mid</option>
            <option [value]=3>Senior</option>
        </select>
    </div>
    <div class="item info_textarea">
        <h3>Informacje</h3>
        <textarea
            [(ngModel)]='managerCompanyOffer.aboutForm'
            placeholder="Informacje..."
            class="textarea-inline-control"  
            cdkTextareaAutosize>
        </textarea>
    </div>
</div>