@import './style/colors.scss';
.page{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    overflow: auto;
    height: calc(100vh - 174px);
}
textarea{
    background-color: #202020;
    color: #fff;
    box-sizing: content-box;
    width: -webkit-fill-available;
    // min-height: 1rem;
}
.info_textarea textarea{
  background-color: #202020;
  color: #fff;
  box-sizing: content-box;
  width: -webkit-fill-available;
  min-height: 4.5rem;
}

.textarea-inline-control {
    padding: 6px 6px;
    box-sizing: content-box;
    border-color: transparent;
    font-size: 1rem;
    resize: none;
    box-shadow: transparent 0px 0px 0px 1px;
    transition: background 0.1s ease 0s;
    overflow: auto;
    overflow-y: hidden;  
    border-radius: 6px;
    appearance: none;
    border: 1px solid #fff;
  
    &:hover:not(:focus) {  
      background-color: #202020;
      color: #fff;
    }
  
    &:focus {
      color: #fff;
      background-color: #202020;
      border: 1px solid #fff;
      box-shadow: 0 0 0 1px #fff;
      outline: none;
    }
}
.item h3{
    color: $color_2;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.salary_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skills_column{
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  row-gap: 0.5rem;
  width: 100%;
}
.skills_btn{
  width: 100%;
  padding: 7px 6px;
  background-color: #e69b46;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.skills_column input{
  width: -webkit-fill-available;
  padding: 6px 6px;
  background-color: #202020;
  color: #fff;
  box-sizing: content-box;
  border-color: transparent;
  font-size: 1rem;
  resize: none;
  box-shadow: transparent 0px 0px 0px 1px;
  transition: background 0.1s ease 0s;
  overflow: auto;
  overflow-y: hidden;  
  border-radius: 3px;
  appearance: none;
  border: 1px solid #fff;

  &:hover:not(:focus) {  
    background-color: #202020;
    color: #fff;
  }

  &:focus {
    color: #fff;
    background-color: #202020;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px #fff;
    outline: none;
  }
}
.salary_row input{
    width: 100%;
    padding: 6px 6px;
    background-color: #202020;
    color: #fff;
    box-sizing: content-box;
    border-color: transparent;
    font-size: 1rem;
    resize: none;
    box-shadow: transparent 0px 0px 0px 1px;
    transition: background 0.1s ease 0s;
    overflow: auto;
    overflow-y: hidden;  
    border-radius: 6px;
    appearance: none;
    border: 1px solid #fff;
  
    &:hover:not(:focus) {  
      background-color: #202020;
      color: #fff;
    }
  
    &:focus {
      color: #fff;
      background-color: #202020;
      border: 1px solid #fff;
      box-shadow: 0 0 0 1px #fff;
      outline: none;
    }
}
.salary_row .space{
    display: flex;
    justify-content: center;
    width: 10%;
}
.salary_row .price{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
select{
    width: -webkit-fill-available;
    padding: 6px 6px;
    background-color: #202020;
    color: #fff;
    box-sizing: content-box;
    border-color: transparent;
    font-size: 1rem;
    resize: none;
    box-shadow: transparent 0px 0px 0px 1px;
    transition: background 0.1s ease 0s;
    overflow: auto;
    overflow-y: hidden;  
    border-radius: 3px;
    appearance: none;
    border: 1px solid #fff;
  
    &:hover:not(:focus) {  
      background-color: #202020;
      color: #fff;
    }
  
    &:focus {
      color: #fff;
      background-color: #202020;
      border: 1px solid #fff;
      box-shadow: 0 0 0 1px #fff;
      outline: none;
    }
}
.element_add{
  // border: 1px solid #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #3b3d42;
  color: #fff;
}
.element_add .left{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.element_add .right{
  display: flex;
  align-items: center;
}
.inputs_item{
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #3b3d42;
  color: #fff;
}
.inputs_item .left{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.inputs_item{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.inputs_item .top{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
.inputs_item .top .right mat-icon{
  font-size: 20px;
  padding-left: 6px;
  padding-top: 4px;
}