<div class="component">
    <div class="btn_search_container">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
        <input class="btn_search" type="text" placeholder="Search">
    </div>
   
    <div class="select_btns">
        <button class="btn_select" *ngFor="let experience of optionsExperience"
              [value]="experience.name"
              (click)="onSelect(experience.name)"
              [ngClass]="{'selected': experience.name === selectedOption}" ngDefaultControl>
        {{experience.name}}
      </button>
    </div>
    <div class="info_salary">
        Min salary
    </div>
    <div class="range-slider">
            <input type="range" [(ngModel)]="salary" min="0" max="80000" (input)="updateSalary($event)">    
    </div>
    <div class="info_salary">
        {{salary}} PLN
    </div>
    <div #menu class="localization">
        <button class="btn_locations" (click)="isOpenMenuLocalization = !isOpenMenuLocalization" [ngClass]="{'selectedColor': locationTxt !== locationsString()}">
            {{locationsString()}} 
            <mat-icon aria-hidden="false" fontIcon="location_on"></mat-icon>
        </button>
        <div #menu [ngClass]="{'openMenuLocalization': isOpenMenuLocalization, 'closedMenuLocalization': !isOpenMenuLocalization}">
            <div class="title_menu_location">
                Popular Locations
            </div>
            <div class="items_menu">
                <button class="btn_select" *ngFor="let option of locations"
                    [value]="option.name"
                    (click)="onSelectLocation(option.name)"
                    [ngClass]="{'selected': option.name === selectedOptionLocation}" ngDefaultControl>
                    {{option.name}}
                </button>
            </div>
        </div>
    </div>
</div>


