<div class="page">
    <header>
        <!-- <div class="title">
            Informacje na temat firmy
        </div> -->
        <div class="company_container_name">
            <div class="company_name">
                Nazwa Firmy XYZ
            </div>
            <div class="btn">
                Przejdz do witryny
            </div>
        </div>
    </header>
    <div class="content">
        <!-------------------------------->
        <div class="info_component">
            <div class="item">
                <mat-icon fontIcon="group"></mat-icon>
                <p>Wielkość firmy: 120+</p>
            </div>
            <div class="item">
                <mat-icon fontIcon="location_on"></mat-icon>
                <p>Lokalizacja: Warszawa, Poznań, Kraków, Gdańsk, Szczecin</p>
            </div>
            <div class="item">
                <mat-icon fontIcon="business_center"></mat-icon>
                <p>Branża: Outsourcing</p>
            </div>
            <div class="item_column">
                <!-- <div class="item">
                    <mat-icon fontIcon="school"></mat-icon>
                    <p>Technologie których używamy:</p>
                </div> -->
                
                <div class="stack_component">
                    <div class="item">
                        <mat-icon fontIcon="school"></mat-icon>
                        <p>Technologie których używamy:</p>
                    </div>
                    <div class="stack">
                        Angular
                    </div>
                    <div class="stack">
                        React
                    </div>
                    <div class="stack">
                        Java
                    </div>
                    <div class="stack">
                        Node
                    </div>
                    <div class="stack">
                        C#
                    </div>
                    <div class="stack">
                        .Net
                    </div>
                    <div class="stack">
                        Docker
                    </div>
                    <div class="stack">
                        Kotlin
                    </div>
                    <div class="stack">
                        Android
                    </div>
                    <div class="stack">
                        Python
                    </div>
                    <div class="stack">
                        JavaScript
                    </div>
                    <div class="stack">
                        TypeScript
                    </div>
                    <div class="stack">
                        C++
                    </div>
                    <div class="stack">
                        MongoDB
                    </div>
                    <div class="stack">
                        MySQL
                    </div>
                </div>
            </div>
        </div>
        <!-------------------------------->
        <div class="description_component">
            <div class="item">
                Nasza firma pracuje nad platformą dla bankowości inwestycyjnej oraz nad rozwojem platformy CIB do monitorowania portfela klientów. Wspiera biznes w przygotowywaniu wymagań na poziomie Analizy Wykonalności.
            </div>
        </div>

    </div>
</div>