<div class="pages">
    <div class="main_content">
        <div class="user_conatiner">
            <div @showElement class="left">
                <div class="user_image">
                    <img src="../../../assets/user_default.jpg" alt="">
                </div>
                <div class="user_info">
                    <div class="user_name">
                        <h3>{{this.userData.getUser()?.name}} {{this.userData.getUser()?.surname}}</h3>
                    </div>
                    <p>Your profile is 0% complete</p>
                </div>
            </div>
            <div class="right">
                <!-- test -->
            </div>
        </div>
    
        <div class="items_container">
            <div [@showElement] class="item column_cosial">
                <div class="social">
                    <div class="icon">
                        <img src="./assets/git.png" alt="">
                    </div>
                    <p>GitHub</p>
                </div>
                <div class="social">
                    <div class="icon">
                        <img src="./assets/linkedin.png" alt="">
                    </div>
                    <p>Linkedin</p>
                </div>
                <div class="social">
                    <div class="icon">
                        <img src="./assets/website-icon.png" alt="">
                    </div>
                    <p>Web</p>
                </div>
            </div>
            <div [@showElement] class="item">
                <h3>About me!</h3>
                    <!-- <textarea
                        [(ngModel)]="textAboutMe"
                        class="textarea-inline-control"  
                        cdkTextareaAutosize>
                    </textarea> -->
                <p>{{textAboutMe}}</p>
                <div class="edit">
                    <mat-icon fontIcon="edit"></mat-icon>
                </div>
            </div>
            <div [@showElement] class="item">
                <h3>Skills</h3>
                <div class="item_skills">
                    <p *ngFor="let skill of skills">{{skill.name}}</p>
                </div>
                <div class="edit">
                    <mat-icon fontIcon="edit"></mat-icon>
                </div>
            </div>
            <div [@showElement] class="item">
                <h3>Public email to contact!</h3>
                    <!-- <textarea
                        [(ngModel)]="textAboutMe"
                        class="textarea-inline-control"  
                        cdkTextareaAutosize>
                    </textarea> -->
                <div class="email">
                    <mat-icon fontIcon="mail"></mat-icon>
                    <p>{{this.userData.getUser()?.email}}</p>
                </div>
                <div class="edit">
                    <mat-icon fontIcon="edit"></mat-icon>
                </div>
            </div>
            <div [@showElement] class="item">
                <h3>Experience</h3>
                <div class="experience_container">
                    <div *ngFor="let experience of experiences" class="item_experience">
                        <div class="left">
                            <p class="name">{{experience.name}}</p>
                            <div class="date">
                                <mat-icon fontIcon="calendar_month"></mat-icon>
                                {{experience.date}}
                            </div>
                        </div>
                        <div class="right">
                            <p class="company">{{experience.company}}</p>
                            <mat-icon fontIcon="apartment"></mat-icon>
                        </div>
                    </div>
                </div>
                <div class="edit">
                    <mat-icon fontIcon="edit"></mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>


