.pages{
    margin: 1rem;
}
.items_container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.items_container h3{
    color: #F8AB53;
}
.item{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid #999999;
    padding: 1rem;
} 
textarea{
    background-color: #202020;
    color: #fff;
    box-sizing: content-box;
}
.textarea-inline-control {
    box-sizing: content-box;
    border-color: transparent;
    // padding: 7px 7px 8px;
    line-height: 1.28;
    resize: none;
    box-shadow: transparent 0px 0px 0px 1px;
    transition: background 0.1s ease 0s;
    overflow: auto;
    overflow-y: hidden;  
    border-radius: 3px;
    appearance: none;
  
    &:hover:not(:focus) {  
      background-color: #202020;
      color: #fff;
    }
  
    &:focus {
      color: #fff;
      background-color: #202020;
      border: 1px solid #4c9aff;
      box-shadow: 0 0 0 1px #4c9aff;
      outline: none;
    }
}
.item_skills{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    flex-wrap: wrap;
}