<div class="form-box">
    <form>
        <h2>Login</h2>
        <div class="inputs_container">
            <div class="input_row">
                <mat-icon fontIcon="mail"></mat-icon>
                <input class="inputForm" type="text" required>
            </div>
            <div class="input_row">
                <mat-icon fontIcon="vpn_key"></mat-icon>
                <input class="inputForm" type="password" required>
            </div>
        </div>
        <button>Log in</button>
        <div class="register">
            <p (click)="linkRegister()" class="register_btn">Don't have an account <a>Register</a></p>
        </div>
    </form>
    <!-- login form here -->
</div>