<div *ngIf="loginShow" [@joinLogin]="loginShow" (submit)="login()" class="form-box">
    <form [formGroup]="loginForm">
        <h2>Login</h2>
        <div class="inputs_container">
            <div class="input_row">
                <mat-icon fontIcon="mail"></mat-icon>
                <input formControlName="email" class="inputForm" placeholder="e-mail" type="text" required>
            </div>
            <div class="input_row">
                <mat-icon fontIcon="vpn_key"></mat-icon>
                <input formControlName="password" class="inputForm" placeholder="password" type="password" required>
            </div>
        </div>
        <button type="submit">Log in</button>
        <div class="register">
            <p (click)="linkRegister()" class="register_btn">Don't have an account <a>Register</a></p>
        </div>
    </form>
</div>