<div class="page">
    <!-- <app-global-search></app-global-search> -->
    <div class="header_bar">
        <div (click)="back()" class="back">
            <mat-icon fontIcon="chevron_left"></mat-icon>
            Lista ogłoszeń
        </div>
        
        <!-- dodaj do obserwowanych   /   udostępnij   /    -->
    </div>
    <div class="main_content">
        <div class="company_selected_main_content">
            <div class="margin_content_company">
                <div class="header">
                    <div class="">
                        <mat-icon (click)="back()" fontIcon=""></mat-icon>
                    </div>
                    <div class="image"></div>
                    <div class="title">
                        <div class="name_of_title">  
                            <div *ngIf="managerCompanyOffer.titleForm" class="offer_title">
                                {{managerCompanyOffer.titleForm}}
                            </div> 
                            <div *ngIf="!managerCompanyOffer.titleForm" class="offer_title">
                                ........................
                                <!-- Nadaj tytuł oferty -->
                            </div>                    
                        </div>
                        <div class="right_in_header">
                            <div class="salary_container">
                                <div *ngIf="managerCompanyOffer.fromSalaryForm" class="salary">{{managerCompanyOffer.fromSalaryForm}} - {{managerCompanyOffer.toSalaryForm}}</div>
                                <div *ngIf="!managerCompanyOffer.fromSalaryForm" class="salary">........................</div>
                                <div *ngIf="managerCompanyOffer.fromSalaryForm" class="salary value_salary">PLN</div>
                            </div>
                            <div class="exp_container">
                                <div *ngIf="managerCompanyOffer.expForm == 1" class="exp">Junior</div>
                                <div *ngIf="managerCompanyOffer.expForm == 2" class="exp">Mid</div>
                                <div *ngIf="managerCompanyOffer.expForm == 3" class="exp">Senior</div>
                                <!-- <div *ngIf="!managerCompanyOffer.expForm" class="exp">Umiejętności</div> -->
                                <mat-icon *ngIf="managerCompanyOffer.expForm == 1 || managerCompanyOffer.expForm == 2 || managerCompanyOffer.expForm == 3" class="star" fontIcon="star"></mat-icon>
                                <mat-icon *ngIf="managerCompanyOffer.expForm == 2 || managerCompanyOffer.expForm == 3" class="star" fontIcon="star"></mat-icon>
                                <mat-icon *ngIf="managerCompanyOffer.expForm == 3" class="star" fontIcon="star"></mat-icon>

                                <mat-icon *ngIf="managerCompanyOffer.expForm == 1 || managerCompanyOffer.expForm == 2" class="star" fontIcon="star_outline"></mat-icon>
                                <mat-icon *ngIf="managerCompanyOffer.expForm == 1" class="star" fontIcon="star_outline"></mat-icon>

                                <mat-icon *ngIf="!managerCompanyOffer.expForm" class="star" fontIcon="star_outline"></mat-icon>
                                <mat-icon *ngIf="!managerCompanyOffer.expForm" class="star" fontIcon="star_outline"></mat-icon>
                                <mat-icon *ngIf="!managerCompanyOffer.expForm" class="star" fontIcon="star_outline"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_company_bg">
                    <div class="margin_content">
                        <div class="item">
                            <div class="title_selection">Informacje o ofercie</div>
                            <div *ngIf="managerCompanyOffer.aboutForm" class="info_offer">
                                <div [innerHTML]="managerCompanyOffer.receivedText"></div>
                                <!-- Dla jednego z naszych klientów z sektora bankowego poszukujemy Fullstack Developera ze znajomością Angular. Obecnie nasze zespoły pracują nad platformą dla bankowości inwestycyjnej oraz nad rozwojem platformy CIB do monitorowania portfela klientów, wsparcia sprzedaży i identyfikacji postępu prac. Jeśli spełniasz poniższe wymagania, dołącz do nas już dziś! -->
                            </div>
                            <div *ngIf="!managerCompanyOffer.aboutForm" class="info_offer">
                                ................................
                                <!-- Przykładowy opis jednego z naszych klientów z sektora XYZ poszukującego XYZ Developera ze znajomością XYZ. Obecnie nasze zespoły pracują nad platformą dla XYZ oraz nad rozwojem platformy XYZ do monitorowania XYZ, wsparcia sprzedaży i identyfikacji postępu prac. Jeśli spełniasz poniższe wymagania, dołącz do nas już dziś! -->
                            </div>
                        </div>
                        <div *ngIf="stackForm(managerCompanyOffer.stackForm).length != 0" class="item">
                            <div class="title_selection">Umiejętności</div>
                            <div class="stack_container">
                                <div *ngFor="let stack of stackForm(managerCompanyOffer.stackForm); let i = index" class="stack">
                                    {{stack.name}}
                                </div>
                            </div>
                            <!-- <div *ngIf="!managerCompanyOffer.stackForm[0]?.name" class="stack_container">
                                <div class="stack">........</div>
                                <div class="stack">........</div>
                                <div class="stack">........</div>
                                <div class="stack">........</div>
                                <div class="stack">........</div>
                            </div> -->
                        </div>
                        <div *ngIf="additionalStackForm(managerCompanyOffer.additionalStackForm).length != 0" class="item">
                            <div class="title_selection">Warto znać</div>
                            <div class="stack_container">
                                <div *ngFor="let additionalStack of additionalStackForm(managerCompanyOffer.additionalStackForm); let i = index" class="stack">
                                    {{additionalStack.name}}
                                </div>
                            </div>
                            <!-- <div *ngIf="!managerCompanyOffer.additionalStackForm[0]?.name" class="stack_container">
                                <div class="stack">........</div>
                                <div class="stack">........</div>
                                <div class="stack">........</div>
                            </div> -->
                        </div>
                        <div *ngIf="responsibilitiesForm(managerCompanyOffer.responsibilitiesForm).length != 0" class="item">
                            <div class="title_selection">Twoje obowiązki</div>
                            <ul class="container_list">
                                <li *ngFor="let responsibilities of responsibilitiesForm(managerCompanyOffer.responsibilitiesForm); let i = index">
                                    {{responsibilities.name}}
                                </li>
                            </ul>
                            <!-- <ul *ngIf="!managerCompanyOffer.responsibilitiesForm[0]?.name" class="container_list">
                                <li>
                                    Wspieranie biznesu w przygotowywaniu wymagań na poziomie Analizy Wykonalności.
                                </li>
                                <li>
                                    Przygotowanie koncepcji rozwiązania na poziomie AW i HLD.
                                </li>
                                <li>
                                    Ustalenie koncepcji rozwiązania między obszarami systemowymi i odpowiedzialność za jej spójność.
                                </li>
                                <li>
                                    Uczestniczenie w testach rozwiązania przed wdrożeniem, analizowanie zgłoszonych błędów.
                                </li>
                                <li>
                                    Wykonywanie szacowania eksperckiego dla rozwiązań.
                                </li>
                            </ul> -->
                        </div>
                        <div *ngIf="expectationsForm(managerCompanyOffer.expectationsForm).length != 0" class="item">
                            <div class="title_selection">Nasze oczekiwania</div>
                            <ul class="container_list">
                                <li *ngFor="let expectationsForm of expectationsForm(managerCompanyOffer.expectationsForm); let i = index">
                                    {{expectationsForm.name}}
                                </li>
                            </ul>
                            <!-- <ul *ngIf="!managerCompanyOffer.expectationsForm[0]?.name" class="container_list">
                                <li>
                                    Minimum dwuletnie doświadczenie w pracy na podobnym stanowisku.                                </li>
                                <li>
                                    Preferujemy doświadczenie w dużej korporacji.
                                </li>
                                <li>
                                    Znajomość i doświadczenie w branży telekomunikacyjnej.
                                </li>
                                <li>
                                    Umiejętność zarządzania dokumentacją związaną z realizacją projektów i analizy systemowej.
                                </li>
                                <li>
                                    Znajomość procesów biznesowych.
                                </li>
                                <li>
                                    Umiejętność rozwiązywania problemów.
                                </li>
                                <li>
                                    Realizacja zadań z nastawieniem na cele.
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="router">
            <!-- <router-outlet></router-outlet> -->
            <app-company-create-offer-form></app-company-create-offer-form>
        </div>
    </div>
</div>