<!-- <div class="selection_container"> -->
    <div class="main_content">
        <div class="item_card_list">
            <div *ngFor="let item of itemList" class="item_card">
                <div class="image"></div>
                <div class="content_card">
                    <div class="left_card">
                        {{item.title}}
                        <div class="stack_card">
                            <div *ngFor="let stack of item.stack" class="item_stack_card">
                                {{stack}}
                            </div>
                        </div>
                    </div>
                    <div class="right_card">
                        {{item.salary}}
                        <div *ngIf="item.locations.length == 1" class="locations_card">
                            <mat-icon class="location_card_icon" fontIcon="location_on"></mat-icon>
                            {{item.locations[0]}}
                        </div>
                        <div #menu *ngIf="item.locations.length !== 1" class="locations_card">
                            <mat-icon class="location_card_icon" fontIcon="location_on"></mat-icon>
                            {{item.locations[0]}},
                            <p class="clicable" (click)="openMenuLocations(item.id)">+{{item.locations.length - 1}} Locations</p>
                            <!-- MENU -->
                            <div #menu *ngIf="this.currentClicableItemLocationID == item.id" class="locations_menu" [ngClass]="{'openMenuLocalization': isOpenMenuLocalization, 'closedMenuLocalization': !isOpenMenuLocalization}">
                                <div *ngFor="let location of item.locations" class="location_card">
                                    {{location}}
                                </div>
                            </div>
                            <!-- END MENU -->
                        </div>
                    </div>
                </div>
                
                <!-- {{item.date}} -->
            </div>
        </div>
    </div>
<!-- </div> -->
