.selection_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
// .title_selection{
//     background-color: #141414;
//     width: fit-content;
//     padding: 6px 14px;
//     margin-top: 1rem;
//     border-top-right-radius: 6px;
//     border-top-left-radius: 6px;
//     color: rgba(255, 255, 255, 0.8);
//     font-family: Verdana, Geneva, sans-serif;
//     cursor: pointer;
// }
.main_content{
    display: flex;
    margin-top: 1rem;
    height: calc(100vh - 8.9rem);
    background-color: #202020;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.item_card_list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0.7rem;
    width: 100%;
    overflow-y: auto;
}
.item_card_list::-webkit-scrollbar {
    display: none;
}
  
.item_card_list {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
 }
.item_card{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    background-color: #2c2c2c;
    border-radius: 4px;
    padding: 14px;
}
.image{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 6px;
}
.content_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.left_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.stack_card{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
.item_stack_card{
    background-color: #f06292;
    padding: 0px 8px;
    border-radius: 10px;
}
.locations_card{
    display: flex;
    column-gap: 0.3rem;
}
.locations_card p{
    margin: 0;
}
.location_card_icon{
    font-size: 1.1rem;
}
.locations_card mat-icon{
    width: auto;
    height: auto;
}
.openMenuLocalization{
    display: flex;
    position: absolute;
    margin-top: 8px;
    background-color: #202020;
    color: #d7d7d7;
    max-width: 400px;
    transition: 0.5s;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}
.closedMenuLocalization{
    display: none;
    transition: 0.5s;
}
.clicable{
    cursor: pointer;
}