<div class="page">
    <!-- <app-global-search></app-global-search> -->
    <div class="bar_33px_height">
        dodaj do obserwowanych   /   udostępnij   /   
    </div>
    <div class="main_content">
        <div class="company_selected_main_content">
            <div class="margin_content_company">
                <div class="header">
                    <div class="back_btn">
                        <mat-icon (click)="back()" fontIcon="arrow_back"></mat-icon>
                    </div>
                    <div class="image"></div>
                    <div class="title">
                        <div class="name_of_title">  
                            <div class="offer_title">
                                Angular Frontend Developer
                            </div>                     
                        </div>
                        <div class="right_in_header">
                            <div class="salary_container">
                                <div class="salary">6 500 - 7 500</div>
                                <div class="salary value_salary">PLN</div>
                            </div>
                            <div class="exp_container">
                                <div class="exp">Junior</div>
                                <mat-icon class="star" fontIcon="star"></mat-icon>
                                <mat-icon class="star" fontIcon="star_outline"></mat-icon>
                                <mat-icon class="star" fontIcon="star_outline"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_company_bg">
                    <div class="margin_content">
                        <div class="item">
                            <div class="title_selection">About offer</div>
                            <div class="info_offer">
                                Dla jednego z naszych klientów z sektora bankowego poszukujemy Fullstack Developera ze znajomością Angular. Obecnie nasze zespoły pracują nad platformą dla bankowości inwestycyjnej oraz nad rozwojem platformy CIB do monitorowania portfela klientów, wsparcia sprzedaży i identyfikacji postępu prac. Jeśli spełniasz poniższe wymagania, dołącz do nas już dziś!
                            </div>
                        </div>
                        <div class="item">
                            <div class="title_selection">Stack</div>
                            <div class="stack_container">
                                <div class="stack">HTML</div>
                                <div class="stack">CSS</div>
                                <div class="stack">TypeScript</div>
                                <div class="stack">Angular</div>
                                <div class="stack">RWD</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="title_selection">Nice to have</div>
                            <div class="stack_container">
                                <div class="stack">RxJS</div>
                                <div class="stack">Jira</div>
                                <div class="stack">Scrum</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="title_selection">Your responsibilities</div>
                            <ul class="container_list">
                                <li>
                                    Wspieranie biznesu w przygotowywaniu wymagań na poziomie Analizy Wykonalności.
                                </li>
                                <li>
                                    Przygotowanie koncepcji rozwiązania na poziomie AW i HLD.
                                </li>
                                <li>
                                    Ustalenie koncepcji rozwiązania między obszarami systemowymi i odpowiedzialność za jej spójność.
                                </li>
                                <li>
                                    Uczestniczenie w testach rozwiązania przed wdrożeniem, analizowanie zgłoszonych błędów.
                                </li>
                                <li>
                                    Wykonywanie szacowania eksperckiego dla rozwiązań.
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <div class="title_selection">Our expectations</div>
                            <ul class="container_list">
                                <li>
                                    Minimum dwuletnie doświadczenie w pracy na podobnym stanowisku.                                </li>
                                <li>
                                    Preferujemy doświadczenie w dużej korporacji.
                                </li>
                                <li>
                                    Znajomość i doświadczenie w branży telekomunikacyjnej.
                                </li>
                                <li>
                                    Umiejętność zarządzania dokumentacją związaną z realizacją projektów i analizy systemowej.
                                </li>
                                <li>
                                    Znajomość procesów biznesowych.
                                </li>
                                <li>
                                    Umiejętność rozwiązywania problemów.
                                </li>
                                <li>
                                    Realizacja zadań z nastawieniem na cele.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="router">
            <!-- <router-outlet></router-outlet> -->
            <app-info-about-company-panel-in-offer></app-info-about-company-panel-in-offer>
            <app-list-of-company-offerts-panel-in-offer></app-list-of-company-offerts-panel-in-offer>
        </div>
    </div>
</div>