<!-- <p>company-selected-offer works!</p>
<router-outlet></router-outlet> -->
<div class="page">
    <!-- <app-global-search></app-global-search> -->
    <div class="bar_33px_height">
        dodaj do obserwowanych   /   udostępnij   /   
    </div>
    <div class="main_content">
        <div class="company_selected_main_content">
            <div class="margin_content_company">
                <div class="header">
                    <div class="back_btn">
                        <mat-icon (click)="back()" fontIcon="arrow_back"></mat-icon>
                    </div>
                    <div class="image"></div>
                    <div class="title">
                        <div class="name_of_title">  
                            <div class="offer_title">
                                Angular Frontend Developer
                            </div>                     
                        </div>
                        <div class="right_in_header">
                            <div class="salary_container">
                                <div class="salary">6 500 - 7 500</div>
                                <div class="salary value_salary">PLN</div>
                            </div>
                            <div class="exp_container">
                                <div class="exp">Junior</div>
                                <mat-icon class="star" fontIcon="star"></mat-icon>
                                <mat-icon class="star" fontIcon="star_outline"></mat-icon>
                                <mat-icon class="star" fontIcon="star_outline"></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_company_bg">
                    <div class="margin_content">
                        <div class="item">
                            <div class="title_stack">About offer</div>
                            <div class="info_offer">For one of our clients from the banking sector, we are looking for a Fullstack Developer with knowledge of Angular.

                                Currently, our teams are working on a platform for investment banking and on the development of the CIB platform for monitoring the client portfolio, sales support, and identifying work progress.
                                
                                If you meet the requirements below, join us today!
                            </div>
                        </div>
                        <div class="item">
                            <div class="title_stack">Stack</div>
                            <div class="stack_container">
                                <div class="stack">HTML</div>
                                <div class="stack">CSS</div>
                                <div class="stack">TypeScript</div>
                                <div class="stack">Angular</div>
                                <div class="stack">RWD</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="title_stack">Nice to have</div>
                            <div class="stack_container">
                                <div class="stack">RxJS</div>
                                <div class="stack">Jira</div>
                                <div class="stack">Scrum</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="router">
            <!-- <router-outlet></router-outlet> -->
            <p>info about company</p>
            <p>list all offers from current company</p>
        </div>
    </div>
</div>