<!-- <p>company-selected-offer works!</p>
<router-outlet></router-outlet> -->
<div class="page">
    <!-- <app-global-search></app-global-search> -->
    <div class="bar_33px_height">
        dodaj do obserwowanych   /   udostępnij   /   
    </div>
    <div class="main_content">
        <div class="company_selected_main_content">
                <div class="header">
                    <div (click)="back()" class="back_btn">
                        <mat-icon fontIcon="arrow_back"></mat-icon>
                    </div>
                    <div class="image"></div>
                    <div class="title">Junior Angular Developer</div>
                </div>
                <div class="content_company_bg">
                    <div class="margin_content">
                        <div class="item">
                            <div class="title_stack">Stack</div>
                            <div class="stack_container">
                                <div class="stack">HTML</div>
                                <div class="stack">CSS</div>
                                <div class="stack">TypeScript</div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="router">
            <!-- <router-outlet></router-outlet> -->
            <p>info about company</p>
            <p>list all offers from current company</p>
        </div>
    </div>
</div>