.page{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 0.5rem;
}
.main_content{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
.company_selected_main_content{
    width: 60%;
    margin-top: 1rem;
    background-color: #202020;
    border-radius: 6px;
}
.router{
    width: 40%;
    margin-top: 1rem;
    // height: calc(100vh - 8.9rem);
    background-color: #202020;
    display: block;
    // justify-content: center;
    // align-items: center;
    border-radius: 6px;
}
.bar_33px_height{
    height: 33px;
}