<!-- Toolbar -->
<div class="toolbar">
    <div class="right">
        <span (click)="home()" class="title">jobIt.me</span>
    </div>
    <div class="left">
        <div (click)="createCompanyOffer()" class="btn employees">
            Create Company Offer
        </div>
        <div (click)="freelancer()" class="btn employees">
            Freelancers
        </div>
        <div (click)="company()" class="btn companies">
            Companies
        </div>
        <div *ngIf="!this.userData.getUser()" (click)="login()" class="btn pink">
            Sign in
        </div>
        <div *ngIf="this.userData.getUser()" (click)="logout()" class="btn pink">
            Logout
        </div>
    </div>
    
  </div>